<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Fifty shades of 4 colors</title>
    <style>
        td, th {
            width: 80px;
            height: 50px;
        }
    </style>
</head>
<body>
    <h1>Fifty shades of 4 colors</h1>
    <div>
        <table>
            <tr>
                <th>black</th>
                <th>red</th>
                <th>green</th>
                <th>blue</th>
            </tr>
            {% for hex in color_shades %}
            <tr>
                <td style="background-color: #{{ hex }}{{ hex }}{{ hex }}"></td>
                <td style="background-color: #{{ hex }}0000"></td>
                <td style="background-color: #00{{ hex }}00"></td>
                <td style="background-color: #0000{{ hex }}"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
